/* styles.css */

/* 定义全局变量 */
:root {
    /*--background-color: #000; /* 背景颜色 */
    --padding: 20px; /* 内边距 */
    --border-radius: 10px; /* 圆角半径 */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    /*--transition-duration: 0.5s; /* 过渡持续时间 */
} 

/* 设置页面整体样式 */
body {
  font-family: Arial, sans-serif;  
    /*justify-content: center; /* 水平居中 */
    /*align-items: center; /* 垂直居中 */
  text-align: center; /* 文本居中 */
  background-color: black; /* 背景颜色 */
  margin: 0; /* 去除默认外边距 */
  
}

#mainbody{
  position: absolute; /* 绝对定位 */
  bottom: 0px; /* 距离底部 0px */
  left: 0px; /* 距离左边 0px */
  width: auto; /* 宽度占满整个屏幕 */
  height: auto; /* 高度占满整个屏幕 */
  display: flex; /* 使用 Flexbox 布局 */
  flex-direction: column;
  justify-content: flex-start; /* 水平居左 */
  align-items: flex-end; /* 垂直居底 */
  padding: 0; /* 留出一定的内边距 */
  transform: translateX(-354px);
  transition: transform 0.7s ease;
}

/* 设置播放器容器样式 */
#Player {
  width: 350px;
  height: 145px;;
  background-image: url(../img/test_cyperpunk.jpg); /* 背景图片 */
  border-radius: var(--border-radius); /* 圆角半径 */
  box-shadow: var(--box-shadow); /* 阴影效果 */
  padding: var(--padding); /* 内边距 */
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  
}

#mainbody.expanded{
  transform: translateX(0) ;
  transition: transform 0.7s ease;
}

/* 设置控制面板样式 */
#Player .controls {
    margin-top: 10px; /* 上外边距 */
}

/* 设置进度条样式 */
#seekBar {
    width: 100%; /* 宽度占满整个容器 */
}


/* 隐藏音频元素 */
audio {
    display: none;
}

/* 设置切换播放列表按钮样式 */
#listButton {
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#playList {
  width: 350px;
  height: 350px;
  border-radius: var(--border-radius); /* 圆角半径 */
  box-shadow: var(--box-shadow); /* 阴影效果 */
  padding: var(--padding); /* 内边距 */
  background-color: #fff;

}

#exitButton {
  position: absolute;
    right: 0;
    top: 50%;
    height: 30%;
    margin-bottom: 10px;
    padding: 10px 5px;
    cursor: pointer;
    transform: translateY(-50%);
}

.collapsible {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 0; /* Start with collapsed state */
    overflow: hidden;
    transition: max-height 1s ease;
}

.collapsible.expanded {
    max-height: 500px; /* Adjust based on your content size */
}
